#**
 *  Render the top section of the page visible to users
 *#

<div id="head">
  <span ><center><font size=6 weight=bold>Mined Semantic Analysis</font><a href="#url_for_home#if($request.params.get('debugQuery'))?debugQuery=true#end"><img src="#{url_root}/img/solr.png" width=2% id="logo"/></a></center></span>
</div>
