#**
 *  Called for each matching document but then
 *  calls one of product_doc, join_doc or richtext_doc
 *  depending on which fields the doc has
 *#

<div class="result-document">

  #**
 *  Render a complex document in the results list
 *#

## Load Mime-Type List and Mapping
#parse('mime_type_lists.vm')
## Sets:
## * supportedMimeTypes, AKA supportedtypes
## * mimeExtensionsMap, AKA extMap

#set($docId = $response.response.sourceinfo.id)

## Title
#set($title = $response.response.sourceinfo.title)

## URL
##set($url = 'https://www.google.com/patents/US'+$doc.getFieldValue('publication_doc_number'))  

## Row 1: Icon and Title and mlt link
<div class="result-title">
  ## Icon
  ## Small file type icons from http://www.splitbrain.org/projects/file_icons (public domain)
  <!--img src="#{url_root}/img/filetypes/${filetype}.png" align="center"-->

  ## Title, hyperlinked
  <b><a href="${url}" title="$tags" target="_blank">
    $docId ($title)</b></a> 
    </b>
</div>

## Row 2?: ID / URL
<div>
  ##Publication number: #field('id')
</div>

## Main content of doc
<div class="result-body">
  <b>Abstract:</b> $response.response.sourceinfo.abstract)
</div>

#parse('debug.vm')

</div>

<div class="result-document">
  <table>
  #foreach ($prior in $response.response.relevancy.entrySet())
  <tr>
  <td>
  $prior.key
  </td>
  <td>
  $prior.value
  </td>
  </tr>
  #end
  </table>  
</div>


